@model TravelPeople.Web.Models.InstaFlightResponse

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Response JSON</h2>

            @Model.ResponseJson
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Response Error</h2>

            @Model.ErrorMessage
        </div>
    </div>
</div>